/* Login page layout */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 1.25rem;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
