/* Grid-based expand/collapse */
.content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--duration-slow) var(--ease-smooth);
}

.content[data-open="true"] {
  grid-template-rows: 1fr;
}

.content > div {
  overflow: hidden;
}
